<div class="row mt-5">
    <div class="col-md-2">
        <button class="btn btn-primary">Button</button>
    </div>
    <div class="col-md-10">
        <h2>{{course.name}}</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.ytbID}}" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <p>{{course.desc}}</p>
    </div>
</div>